.step-item {
  position: relative;
}
.step-item:not(:last-child)::before {
  @apply content-[''] absolute w-full h-[2px] bg-gray-200 top-1/4  -translate-y-1/2;
}

.step-item:last-child {
  width: fit-content;
}

.step-item-mobile {
  position: relative;
}

.step-item-mobile:not(:last-child):before {
  @apply content-[''] absolute h-full w-[2px] bg-gray-200 translate-x-1/2 left-[0.62rem];
}

.step-item-mobile:last-child {
  height: fit-content;
}
